<ul class="nav nav-sidebar">
    <li>
        <div class="panel-group" data-id="docs">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="[data-id='docs']" href="[data-id='docsMenu']">
                            Docs
                        </a>
                    </h4>
                </div>
                <div data-id="docsMenu" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="/steel-mq/doc/roles">Roles</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </li>
    <li>
        <div class="panel-group" data-id="api">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="[data-id='api']"
                           href="[data-id='apiMenu']">
                            API
                        </a>
                    </h4>
                </div>
                <div data-id="apiMenu" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <li><a href="/steel-mq/api/project/list">List Projects</a></li>
                            <li><a href="/steel-mq/api/project/create">Create Project</a></li>
                            <li><a href="/steel-mq/api/project/info">Get project info</a></li>

                            <li><a href="/steel-mq/api/message-queue/list">List Message Queues</a></li>
                            <li><a href="/steel-mq/api/message-queue/create">Create Message Queue</a></li>
                            <li><a href="/steel-mq/api/message-queue/update">Update Message Queue</a></li>
                            <li><a href="/steel-mq/api/message-queue/delete">Delete Message Queue</a></li>
                            <li><a href="/steel-mq/api/message-queue/info">Get Message Queue Info</a></li>
                            <li><a href="/steel-mq/api/message-queue/clear">Clear Message Queue</a></li>

                            <li><a href="/steel-mq/api/subscribers/list">List Message Queue Subscribers</a></li>
                            <li><a href="/steel-mq/api/subscribers/add">Add Subscriber to Message Queue</a></li>
                            <li><a href="/steel-mq/api/subscribers/delete">Delete Subscriber from Message Queue</a></li>

                            <li><a href="/steel-mq/api/message/add">Add Messages to Queue</a></li>
                            <li><a href="/steel-mq/api/message/webhook">Webhook</a></li>
                            <li><a href="/steel-mq/api/message/list">Get Messages from Queue</a></li>
                            <li><a href="/steel-mq/api/message/get">Get Message by ID</a></li>
                            <li><a href="/steel-mq/api/message/delete">Delete Message from Queue</a></li>
                            <li><a href="/steel-mq/api/message/release">Release Message back to Queue</a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </li>
</ul>