<ul class="nav nav-sidebar">
    <li>
        <div class="panel-group" data-id="docs">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="[data-id='docs']" href="[data-id='docsMenu']">
                            Documentation
                        </a>
                    </h4>
                </div>
                <div data-id="docsMenu" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <li><a href="/lightsaml/doc/usage">Usage</a></li>
                            <li><a href="/lightsaml/doc/console">Console</a></li>
                            <li><a href="/lightsaml/doc/signing-and-certificates">Signing and Certificates</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </li>
</ul>